html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arimo', 'Noto Sans TC', sans-serif;
  font-weight: normal;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  font-size: 25px;
  line-height: 1.2; }

h1, h2, h3, h4, p, ol, li, address, dl, dt, dd, figure {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-weight: normal;
  font-size: inherit; }

a {
  font-size: inherit;
  color: inherit; }

.hide {
  display: none !important; }

.close {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fixednav {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  padding: .5em;
  display: none; }
  .fixednav a {
    color: #FFF; }

#app {
  position: relative;
  height: 100vh; }

[id*='page-'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: #FFF; }

#page-enterance,
#page-gallery {
  overflow: hidden; }

.common-header .space-for-hd {
  height: 430px; }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: none;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 20px 0 20px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  z-index: 99;
  font-size: 28px;
  line-height: 1.07143; }

.main-header .space-for-top {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 5em;
  flex: 0 0 5em;
  padding-left: 40px;
  position: relative; }

.main-header .txt {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 6em;
  flex: 0 0 6em; }

.main-header .logo {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 940px;
  flex: 0 1 940px;
  margin: 0 20px;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top; }

.main-header .logo img {
  display: block; }

.main-header .logo._narrow {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 376px;
  flex: 0 0 376px; }

.common-footer {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 20px 60px 20px; }

.common-footer dt {
  display: none; }

.common-footer address {
  font-style: normal; }

.common-footer .person {
  margin-bottom: 1em; }

.common-footer .developer,
.common-footer .copyright {
  margin-top: 1em; }

.common-footer .contact {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%; }

.common-footer .info {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%; }

.common-nav {
  font-weight: bold;
  padding: 0 20px;
  text-align: right;
  line-height: 1; }

.common-nav a {
  margin-left: 10px;
  font-weight: normal;
  text-decoration: none; }

.common-nav a.router-link-exact-active {
  text-decoration: underline; }

.common-nav .burger {
  outline: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  height: 20vw;
  max-width: 90px;
  max-height: 90px;
  border: none;
  background: none;
  display: none; }

.common-nav .burger i {
  display: block;
  width: calc(100% - 40px);
  padding-top: 7px;
  background: #000;
  position: absolute;
  left: 20px;
  top: 30px; }

.common-nav .burger i:nth-of-type(2),
.common-nav .burger i:nth-of-type(3) {
  margin-top: 18%; }

.common-nav .burger i:last-child {
  margin-top: 36%; }

.common-nav .close {
  outline: none;
  position: absolute;
  color: inherit;
  right: 1em;
  top: 1em;
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  text-decoration: underline;
  display: none; }

.common-nav .mask {
  display: none; }

/*
  * Page Enter and Leave Effect
*/
[class*='leave'] {
  pointer-events: none;
  z-index: -1; }

.fadeout-leave-active {
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  opacity: 0; }

.fadein-enter-active {
  -webkit-animation: fadein 0.5s ease-out;
  animation: fadein 0.5s ease-out; }

.fadein-leave-active {
  -webkit-animation: fadeout 0.5s ease-out;
  animation: fadeout 0.5s ease-out; }

.slidein-from-top-enter-active {
  height: 100vh;
  overflow: hidden;
  -webkit-animation: slidein-from-top 0.5s ease-out;
  animation: slidein-from-top 0.5s ease-out; }

.slidein-from-top-leave-active {
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.slidein-from-bottom-enter-active {
  -webkit-animation: slidein-from-bottom 0.5s ease-out;
  animation: slidein-from-bottom 0.5s ease-out; }

.slidein-from-bottom-leave-active {
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.slidein-from-right-enter-active {
  -webkit-animation: slidein-from-right 0.5s ease-out;
  animation: slidein-from-right 0.5s ease-out; }

.slidein-from-right-leave-active {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.slideout-to-right-enter-active {
  z-index: 0; }

.slideout-to-right-leave-active {
  -webkit-animation: slideout-to-right 0.5s ease-out;
  animation: slideout-to-right 0.5s ease-out;
  z-index: 3; }

@-webkit-keyframes slidein-from-top {
  0% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slidein-from-top {
  0% {
    -webkit-transform: translateY(-100vh);
    transform: translateY(-100vh); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slidein-from-bottom {
  0% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slidein-from-bottom {
  0% {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slidein-from-right {
  0% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes slidein-from-right {
  0% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes slideout-to-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@keyframes slideout-to-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100vw);
    transform: translateX(100vw); } }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
  * Loading Snipper
*/
.loading {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background: #FFF;
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  overflow: hidden; }

.loading._invisible {
  opacity: 0;
  pointer-events: none; }

.lds-snipper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.lds-snipper .lds-icon {
  width: 40%;
  max-width: 600px; }

.lds-snipper img {
  display: block;
  width: 100%; }

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 35%; }

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0); }

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite; }

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite; }

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite; }

@-webkit-keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes lds-ellipsis1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }

@keyframes lds-ellipsis3 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); } }

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0); } }

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0); } }

@media all and (max-width: 1366px) {
  .common-header .space-for-hd {
    height: 0;
    padding-top: 30%; } }

@media all and (max-width: 760px) {
  .main-header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 20px;
    width: 100% !important; }
  .main-header .logo {
    -webkit-box-flex: 0 !important;
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50% !important; }
  .main-header .space-for-top {
    display: none; }
  .main-header .txt {
    display: none; }
  .common-nav {
    position: relative;
    z-index: 99; }
  .common-nav .menu {
    text-align: left;
    color: #000;
    position: fixed;
    height: 100vh;
    width: 80%;
    min-width: 8em;
    background: #FFF;
    right: 100%;
    top: 0;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: .3s ease-out;
    -o-transition: .3s ease-out;
    transition: .3s ease-out; }
  .common-nav .menu._active {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  .common-nav .menu a {
    color: inherit;
    display: block;
    margin: 0;
    line-height: 1.3; }
  .common-nav .close {
    display: block; }
  .common-nav .burger {
    display: block; }
  .common-nav .mask {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0);
    top: 0;
    left: 0;
    height: 100%;
    display: block; }
  .common-footer {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .common-footer .contact {
    margin-bottom: 2em; }
  .common-footer .contact,
  .common-footer .info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

#page-entrance {
  overflow: hidden; }

#page-entrance .loading {
  z-index: 1; }

#page-entrance .lds-ellipsis {
  margin-top: 0; }

#page-entrance .agile {
  z-index: 0; }

#page-entrance .title,
#page-entrance .links,
#page-entrance .ft {
  color: #FFF;
  overflow: hidden; }

#page-entrance .title,
#page-entrance .links {
  font-size: 25px;
  line-height: 1.2;
  margin: 20px; }

#page-entrance .ft {
  font-size: 14px;
  line-height: 1.14286;
  line-height: 45px;
  background: #0051ff;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 45px;
  overflow: hidden; }

#page-entrance .ft marquee {
  display: block; }

#page-entrance .marquee {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#page-entrance .marquee span {
  display: block; }

#page-entrance .float {
  position: absolute;
  right: 0;
  top: 20px;
  z-index: 3; }

#page-entrance .title span,
#page-entrance .links a {
  float: right;
  clear: both;
  display: block; }

#page-entrance .links a {
  position: relative; }

#page-entrance .slider {
  height: calc(100% - 45px);
  z-index: 0;
  position: relative; }

#page-entrance .slider .agile,
#page-entrance .slider .agile * {
  height: 100%; }

#page-entrance .slider picture img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%; }

#page-entrance .slider .bgslide {
  background-repeat: no-repeat;
  background-size: cover; }

@media all and (max-width: 500px) {
  #page-entrance .title,
  #page-entrance .links {
    font-size: 20px;
    line-height: 1.1; } }

#page-index {
  background: #FFF; }

#page-index .container {
  position: relative;
  z-index: 0; }

#page-index .loading .lds-snipper {
  height: calc(100vh - 380px); }

#page-index .works {
  max-width: 1920px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 35px;
  padding: 30px 20px;
  min-height: 100vh; }

#page-index .figure a {
  display: block;
  overflow: hidden;
  text-decoration: none; }

#page-index .figure .cover {
  display: block;
  width: 100%; }

#page-index .figure figcaption {
  margin-top: .5em; }

#page-index .top {
  display: block;
  width: 5em;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-decoration: underline; }

#page-index .top._active {
  pointer-events: all;
  opacity: 1; }

#page-index .top::before {
  content: '';
  display: none;
  width: 23px;
  height: 40px;
  background: url(../images/arrow_tothetop.svg) no-repeat;
  background-size: 100% auto;
  position: absolute;
  left: 0; }

#page-index .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  font-size: 35px;
  line-height: 1.14286; }

#page-index .pagination .pg-numeric {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

#page-index .pagination .pg-numeric span {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.5em;
  flex: 0 0 1.5em;
  line-height: 1.5;
  display: block;
  margin: .1em;
  text-align: center; }

#page-index .pagination a {
  text-decoration: none;
  font-size: inherit; }

#page-index .pagination a._active {
  text-decoration: underline; }

@media all and (max-width: 1366px) {
  #page-index .works {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); } }

@media all and (max-width: 760px) {
  #page-index .top {
    display: none; }
  #page-index .loading .lds-snipper {
    height: calc(100vh - 150px); }
  #page-index .space-for-hd {
    padding-top: 20%; } }

@media all and (max-width: 720px) {
  #page-index .works {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr); } }

#page-detail .hd {
  padding: 20px 20px 30px 20px;
  min-height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: #FFF; }

#page-detail .title {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.3%;
  flex: 0 1 33.3%;
  font-size: 35px;
  line-height: 1.14286; }

#page-detail .credit {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(66.7% - 120px);
  flex: 0 1 calc(66.7% - 120px);
  font-size: 17px;
  line-height: 1.11765;
  line-height: 1.35; }

#page-detail .credit dt, #page-detail .credit dd {
  display: inline; }

#page-detail .credit dt::after {
  content: '/'; }

#page-detail .close {
  width: 2.5em;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
  text-decoration: underline;
  cursor: pointer;
  font-size: 35px;
  line-height: 1.14286; }

#page-detail .con {
  min-height: calc(100vh - 165px);
  padding: 20px 20px 70px 20px;
  background: #FFF;
  position: relative; }

#page-detail .loading {
  z-index: 1; }

#page-detail .loading .lds-snipper {
  height: calc(100vh - 165px); }

#page-detail .masonry {
  z-index: 0; }

#page-detail .gutter-sizer {
  width: 20px; }

#page-detail .grid-sizer {
  width: calc((100% - 40px) / 3); }

#page-detail .item {
  width: calc((100% - 40px) / 3);
  margin-bottom: 20px; }

#page-detail .item a {
  display: block; }

#page-detail .item img {
  display: block;
  width: 100%; }

@media all and (max-width: 1366px) {
  #page-detail .grid-sizer,
  #page-detail .item {
    width: calc((100% - 20px) / 2); } }

@media all and (max-width: 720px) {
  #page-detail .hd {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 1em; }
  #page-detail .title {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 3.5em);
    flex: 0 0 calc(100% - 3.5em); }
  #page-detail .close {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 3em;
    flex: 0 0 3em;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  #page-detail .credit {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-top: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #page-detail .credit dl {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%; }
  #page-detail .grid-size,
  #page-detail .item {
    width: 100%; } }

@media all and (max-width: 460px) {
  #page-detail .hd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-top: 70px; }
  #page-detail .close {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: .5em;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  #page-detail .title {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; }
  #page-detail .credit dl {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

#page-gallery {
  position: relative;
  background: #000; }

#page-gallery .close {
  position: absolute;
  border: none;
  right: 20px;
  top: 20px;
  color: #FFF;
  z-index: 10;
  font-size: 35px;
  line-height: 1.14286; }

#page-gallery .container,
#page-gallery .align {
  height: 100%;
  position: relative;
  z-index: 3; }

#page-gallery .next,
#page-gallery .prev {
  position: absolute;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  height: 100%;
  background: none;
  top: 0;
  border: none;
  outline: none;
  z-index: 1;
  cursor: pointer; }

#page-gallery .prev {
  left: 0; }

#page-gallery .next {
  right: 0; }

#page-gallery .slide {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden; }

#page-gallery .slide img {
  display: block;
  max-width: 100%;
  max-height: 100%; }

#page-gallery .loading {
  background: #000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 3; }

#page-gallery .lds-ellipsis {
  margin-top: 0; }

#page-gallery .lds-ellipsis div {
  background: #FFF; }

#page-about {
  background: #0051ff;
  color: #FFF; }

#page-about .common-header .logo {
  margin-bottom: 110px; }

#page-about .common-nav .burger i {
  background: #FFF; }

#page-about .intro {
  overflow: hidden;
  padding: 60px 20px 0 20px; }

#page-about .intro p {
  width: 50%;
  float: right;
  clear: both;
  margin-bottom: 40px; }

#page-about .artist {
  padding: 0 20px; }
  #page-about .artist._jian {
    margin-top: -2px; }

#page-about .hd {
  font-size: 35px;
  line-height: 1.14286;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

#page-about .hd .name,
#page-about .hd .jtitle,
#page-about .hd .btn {
  padding-top: 22px;
  padding-bottom: 13px; }

#page-about .hd .jtitle,
#page-about .hd .btn {
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF; }

#page-about .hd .name {
  text-align: right;
  padding-right: 22px;
  position: relative; }

#page-about .hd .name::after {
  content: '';
  display: block;
  width: 2px;
  background: #FFF;
  height: 64%;
  top: 18%;
  position: absolute;
  right: 0; }

#page-about .hd .jtitle {
  margin-left: 20px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: calc(50% - 2.5em - 72px); }

#page-about .hd .btn {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 2.5em;
  flex: 0 0 2.5em;
  display: block;
  position: relative;
  padding-right: 72px;
  overflow: hidden;
  cursor: pointer; }

#page-about .hd .btn span {
  display: block; }

#page-about .hd .btn::after {
  content: '';
  width: 62px;
  height: 62px;
  position: absolute;
  right: 0;
  background: #ddd;
  top: 32px;
  background: url("../images/arrow_62x62px.svg");
  -webkit-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out; }

#page-about .hd .btn.more::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

#page-about .hd .btn.less::after {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#page-about .innertitle {
  display: none; }

#page-about .site {
  margin: 20px 0 0 50%; }

#page-about .site a {
  text-decoration: none; }

#page-about .folder {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

#page-about .exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 30px 0; }

#page-about .exp .history {
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 22px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%; }

#page-about .exp .record {
  overflow: hidden; }

#page-about .exp .record dt {
  width: 2.8em;
  float: left; }

#page-about .exp .record dd {
  margin-left: 2.8em; }

#page-about .exp h4 {
  text-align: right;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 6em;
  flex: 0 0 6em;
  padding-right: 20px;
  text-decoration: underline; }

@media all and (max-width: 900px) {
  #page-about .hd .name {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: left;
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF; }
  #page-about .hd .name br {
    display: none; }
  #page-about .hd .name::after {
    display: none; }
  #page-about .hd .btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5em;
    flex: 0 0 5em; }
    #page-about .hd .btn br {
      display: none; }
    #page-about .hd .btn::after {
      top: .15em; }
  #page-about .hd .jtitle {
    display: none; }
  #page-about .innertitle {
    display: block;
    padding: 1em 0; }
  #page-about .site {
    margin: 0; }
  #page-about .exp {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  #page-about .exp h4 {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    text-align: left;
    margin-bottom: .5em; }
  #page-about .exp h4 br {
    display: none; }
  #page-about .exp .history {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset;
    margin-left: 0; } }

@media all and (max-width: 760px) {
  #page-about .common-header .logo {
    margin-bottom: 0; }
  #page-about .intro p {
    width: auto; } }

@media all and (max-width: 600px) {
  #page-about .hd .name {
    font-size: 28px;
    line-height: 40px; }
  #page-about .hd .btn {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0px;
    flex: 0 0 0px; }
  #page-about .hd span {
    display: block;
    opacity: 0;
    white-space: nowrap;
    width: 0px;
    overflow: hidden; } }
