#page-about {
  & {
    background: $blue;
    color: #FFF;
  }
  .common-header {
    .logo {
      margin-bottom: 110px;
    }
  } 
  .common-nav {
    .burger i {
      background: #FFF;
    }
  }
  .intro {
    & {
      overflow: hidden;
      padding: 60px 20px 0 20px;
    }
    p {
      width: 50%;
      float: right;
      clear: both;
      margin-bottom: 40px;
    }
  }
  .artist {
    padding: 0 20px;
    &._jian {
      margin-top: -2px;
    }
  }
  .hd {
    & {
      @include fs1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .name,
    .jtitle,
    .btn {
      padding-top: 22px;
      padding-bottom: 13px;
    }
    .jtitle,
    .btn {
      border-top: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
    }
    .name {
      & {
        text-align: right;
        padding-right: 22px;
        position: relative;
      }
      &::after {
        content: '';
        display: block;
        width: 2px;
        background: #FFF;
        height: 64%;
        top: 18%;
        position: absolute;
        right: 0;
      }
    }
    .jtitle {
      margin-left: 20px;
      padding-right: 30px;
      box-sizing: border-box;
      min-width: calc(50% - 2.5em - 72px);
    }
    .btn {
      & {
        flex: 0 0 2.5em;
        display: block;
        position: relative;
        padding-right: 72px;
        overflow: hidden;
        cursor: pointer;
      }
      span {
        display: block;
      }
      &::after {
        content: '';
        width: 62px;
        height: 62px;
        position: absolute;
        right: 0;
        background: #ddd;
        top: 32px;
        background: url('../images/arrow_62x62px.svg');
        transition: all .3s ease-out; 
      }
      &.more::after {
        transform: rotate(90deg);
      }
      &.less::after {
        transform: rotate(0deg);
      }
    }
  }
  .innertitle {
    display: none;
  }
  .site {
    & {
      margin: 20px 0 0 50%;
    }
    a {
      text-decoration: none;
    }
  }
  .folder {
    max-height: 0;
    overflow: hidden;
    transition: .3s;
  } 
  .exp {
    & {
      display: flex;
      justify-content: flex-end;
      padding: 30px 0;
    }
    .history {
      list-style: none;
      box-sizing: border-box;
      margin-left: 22px;
      flex: 0 0 50%;
    }
    .record {
      & {
        overflow: hidden;
      }
      dt {
        width: 2.8em; 
        float: left;
      }
      dd {
        margin-left: 2.8em;
      }
    }
    h4 {
      text-align: right;
      flex: 0 0 6em;
      padding-right: 20px;
      text-decoration: underline;
    }
  }
}

@include mq(900) {
  #page-about {
    .hd {
      .name {
        & {
          flex: 1 1 auto;
          text-align: left;
          border-top: 2px solid #FFF;
          border-bottom: 2px solid #FFF;
        }
        br {
          display: none;
        }
        &::after {
          display: none;
        }
      }
      .btn {
        flex: 0 0 5em;
        br {
          display: none;
        }
        &::after {
          top: .15em;
        }
      }
      .jtitle {
        display: none;
      }
    }
    .innertitle {
      display: block;
      padding: 1em 0;
    }
    .site {
      margin: 0;
    }
    .exp {
      & {
        justify-content: unset;
        flex-direction: column;
      } 
      h4 {
        & {
          flex: unset;
          text-align: left;
          margin-bottom: .5em;
        }
        br {
          display: none;
        }
      }
      .history {
        flex: unset;
        margin-left: 0;
      }
    }
  }
}

@include mq(760) {
  #page-about {
    .common-header {
      .logo {
        margin-bottom: 0;
      }
    }
    .intro {
      p {
        width: auto;
      }
    }
  }
}

@include mq(600) {
  #page-about {
    .hd {
      .name {
        font-size: 28px;
        line-height: 40px;
      }
      .btn {
        flex: 0 0 0px;
      }
      span {
        display: block;
        opacity: 0;
        white-space: nowrap;
        width: 0px;
        overflow: hidden;
      }
    }
  }
}
