@mixin fs1 {
  font-size: 35px;
  line-height: (40/35);
}

@mixin fs2 {
  font-size: 28px;
  line-height: (30/28);
}

@mixin fs3 {
  font-size: 25px;
  line-height: (30/25);
}

@mixin fs4 {
  font-size: 17px;
  line-height: (19/17);
}

@mixin fs5 {
  font-size: 14px;
  line-height: (16/14);
}

@mixin mq($bp) {
  @media all and (max-width: #{$bp}px) {
    @content;
  }
}

$blue: #0051ff;

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Arimo', 'Noto Sans TC', sans-serif;
  font-weight: normal;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  @include fs3;
}

h1, h2, h3, h4, p, ol, li, address, dl, dt, dd, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
  font-size: inherit;
}

a {
  font-size: inherit;
  color: inherit;
}

.hide {
  display: none !important;
}

.close {
  user-select: none;
}

.fixednav {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, .8);
  width: 100%;
  padding: .5em;
  display: none;
  a {
    color: #FFF;
  }
}

#app {
  position: relative;
  height: 100vh;
}

[id*='page-'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background: #FFF;
}
#page-enterance,
#page-gallery {
  overflow: hidden;
}

.common-header {
  .space-for-hd {
    height: 430px;
  }
}

.main-header {
  & {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    pointer-events: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0 20px;
    align-items: flex-start;
    z-index: 99;
    @include fs2;
  }
  .space-for-top {
    order: 1;
    flex: 0 0 5em;
    padding-left: 40px;
    position: relative;
  } 
  .txt {
    order: 3;
    flex: 0 0 6em;
  }
  .logo {
    & {
      order: 2;
      flex: 0 1 940px;
      margin: 0 20px;
      transition: all .1s;
      transform-origin: center top;
    }
    img {
      display: block;
    }
    &._narrow {
      flex: 0 0 376px;
    }
  }
}

.common-footer {
  & {
    font-weight: bold;
    display: flex;
    padding: 120px 20px 60px 20px;
  }
  dt {
    display: none;
  }
  address {
    font-style: normal;
  }
  .person {
    margin-bottom: 1em;
  }
  .developer,
  .copyright {
    margin-top: 1em;
  }
  .contact {
    flex: 1 1 50%;
  }
  .info {
    flex: 1 1 50%;
  }
}

.common-nav {
  & {
    font-weight: bold;
    padding: 0 20px;
    text-align: right;
    line-height: 1;
  }
  a {
    & {
      margin-left: 10px;
      font-weight: normal;
      text-decoration: none;
    }
    &.router-link-exact-active {
      text-decoration: underline;
    }
  }
  .burger {
    & {
      outline: none;
      position: fixed;
      left: 0;
      top: 0; 
      width: 20%;
      height: 20vw;
      max-width: 90px;
      max-height: 90px;
      border: none;
      background: none;
      display: none;
    }
    i {
      display: block;
      width: calc(100% - 40px);
      padding-top: 7px;
      background: #000;
      position: absolute;
      left: 20px;
      top: 30px;
    }
    i:nth-of-type(2),
    i:nth-of-type(3) {
      margin-top: 18%;
    }
    i:last-child {
      margin-top: 36%;
    }
  }
  .close {
    outline: none;
    position: absolute;
    color: inherit;
    right: 1em;
    top: 1em;
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    text-decoration: underline;
    display: none;
  }
  .mask {
    display: none;
  }
}

/*
  * Page Enter and Leave Effect
*/

[class*='leave'] {
  pointer-events: none;
  z-index: -1;
}

$duration: .5s;
.fadeout-leave-active {
  transition: $duration ease-out;
  opacity: 0;
}

.fadein-enter-active {
  animation: fadein $duration ease-out;
 
}

.fadein-leave-active {
  animation: fadeout $duration ease-out;
}

.slidein-from-top-enter-active {
  height: 100vh;
  overflow: hidden;
  animation: slidein-from-top $duration ease-out;
}
.slidein-from-top-leave-active {
  transition: $duration ease-out;
}

.slidein-from-bottom-enter-active {
  animation: slidein-from-bottom $duration ease-out;
}
.slidein-from-bottom-leave-active {
  transition: $duration ease-out;
}

.slidein-from-right-enter-active {
  animation: slidein-from-right $duration ease-out;
}
.slidein-from-right-leave-active {
  transition: $duration;
}

.slideout-to-right-enter-active {
  //transition: $duration ease-out;
  z-index: 0;
}
.slideout-to-right-leave-active {
  animation: slideout-to-right $duration ease-out;
  z-index: 3;
}

@keyframes slidein-from-top {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slidein-from-bottom {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slidein-from-right {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideout-to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
  * Loading Snipper
*/
.loading {
  & {
    position: absolute; 
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: #FFF;
    transition: all .3s ease-out;
    overflow: hidden;
  }
  &._invisible {
    opacity: 0;
    pointer-events: none;
  }
}
.lds-snipper {
  & {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
  }
  .lds-icon {
    width: 40%;
    max-width: 600px;
  }
  img {
    display: block;
    width: 100%;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 35%;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@include mq(1366) {
  .common-header {
    .space-for-hd {
      height: 0;
      padding-top: 30%; 
    }
  }
}

@include mq(760) {
  .main-header {
    & {
      justify-content: center;  
      padding-bottom: 20px;
      width: 100% !important;
    }
    .logo {
      flex: 0 0 50% !important;
    }
    .space-for-top {
      display: none;
    }
    .txt {
      display: none;
    }
  }
  .common-nav {
    & {
      position: relative;
      z-index: 99;
    }
    .menu {
      & {
        text-align: left;
        color: #000;
        position: fixed;
        height: 100vh;
        width: 80%;
        min-width: 8em;
        background: #FFF;
        right: 100%;
        top: 0;
        z-index: 999;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1em;
        transition: .3s ease-out;
      }
      &._active{
        transform: translateX(100%);
      } 
      a {
        color: inherit;
        display: block;
        margin: 0;
        line-height: 1.3;
      }
    }
    .close {
      display: block;
    }
    .burger {
      display: block;
    }
    .mask {
      position: fixed;
      width: 100%;
      background: rgba(255, 255, 255, 0);
      top: 0;
      left: 0;
      height: 100%;
      display: block;
    }
  }
  .common-footer {
    & {
      flex-wrap: wrap;
    }
    .contact {
      margin-bottom: 2em;
    }
    .contact,
    .info {
      flex: 0 0 100%;
    }
  }
}
