#page-detail {
  .hd {
    padding: 20px 20px 30px 20px;
    min-height: 115px;
    display: flex;
    align-items: flex-start;
    background: #FFF;
  }
  .title {
    flex: 0 1 33.3%;
    @include fs1;
  }
  .credit {
    & {
      flex: 0 1 calc(66.7% - 120px);
      @include fs4;
      line-height: 1.35;
    }
    dt, dd {
      display: inline;
    }
    dt::after {
      content: '/';
    }
  }
  .close {
    width: 2.5em;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
    text-decoration: underline;
    cursor: pointer;
    @include fs1;
  }
  .con {
    min-height: calc(100vh - 165px);
    padding: 20px 20px 70px 20px;
    background: #FFF;
    position: relative;
  }
  .loading {
    & {
      z-index: 1;
    } 
    .lds-snipper {
      height: calc(100vh - 165px); 
    }
  }
  .masonry {
    z-index: 0;
  }
  .gutter-sizer {
    width: 20px;
  }
  .grid-sizer {
    width: calc((100% - 40px) / 3);
  }
  .item {
    & {
      width: calc((100% - 40px) / 3);
      margin-bottom: 20px;
    }
    a {
      display: block;
    }
    img {
      display: block;
      width: 100%;
    }
  }
}

@include mq(1366) {
  #page-detail {
    .grid-sizer,
    .item {
      width: calc((100% - 20px) / 2);
    }
  }
}

@include mq(720) {
  #page-detail {
    .hd {
      flex-wrap: wrap;
      padding-bottom: 1em;
    }
    .title {
      flex: 0 0 calc(100% - 3.5em); 
    }
    .close {
      flex: 0 0 3em;
      order: 2;
    }
    .credit {
      & {
        order: 3;
        flex: 0 0 100%;
        margin-top: 2em;
        display: flex;
        flex-wrap: wrap;
      }
      dl {
        flex: 0 1 50%;
      }
    }
    .grid-size,
    .item {
      width: 100%;
    }
  }
}

@include mq(460) {
  #page-detail {
    .hd {
      flex-direction: column;
      align-items: flex-start;
      padding-top: 70px;
    }
    .close {
      order: 1;
      flex: 0 0 auto;
      margin-bottom: .5em;
      align-self: flex-end;
    }
    .title {
      order: 2;
      flex: 0 0 100%;
    }
    .credit {
      dl {
        flex: 0 0 100%;
      }
    }
  }
}
