#page-entrance {
  & {
    overflow: hidden;
  }
  .loading {
    z-index: 1;
  }
  .lds-ellipsis {
    margin-top: 0;
  }
  .agile {
    z-index: 0;
  }
  .title,
  .links,
  .ft {
    color: #FFF;
    overflow: hidden;
  }
  .title,
  .links {
    @include fs3;
    margin: 20px;
  }
  .ft {
    & {
      @include fs5;
      line-height: 45px;
      background: $blue;
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 45px;
      overflow: hidden;
    }
    marquee {
      display: block;
    }
  }
  .marquee {
    & {
      white-space: nowrap;
      display: flex;
    }
    span {
      display: block;
    }
  }
  .float {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 3;
  }
  .title span,
  .links a{
    float: right;
    clear: both;
    display: block;
  }
  .links a {
    position: relative;
  }
  .slider {
    & {
      height: calc(100% - 45px);
      z-index: 0;
      position: relative;
    }
    .agile,
    .agile * {
      height: 100%;
    }
    picture {
     img {
       display: block;
       object-fit: cover;
       width: 100%;
     }
    }
    .bgslide {
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@include mq(500) {
  #page-entrance {
    .title,
    .links {
      font-size: 20px;
      line-height: (22/20);
    } 
  }
}
