#page-gallery {
  & {
    position: relative;
    background: #000;
  }
  .close {
    position: absolute;
    border: none;
    right: 20px;
    top: 20px;
    color: #FFF;
    z-index: 10;
    @include fs1;
  }
  .container,
  .align {
    height: 100%;
    position: relative;
    z-index: 3;
  }
  .next,
  .prev {
    position:absolute;
    width: 50%;
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    background: none;
    top: 0;
    border: none;
    outline: none;
    z-index: 1;
    cursor: pointer;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  .slide {
    & {
      width: 100vw;
      display: flex;
      justify-content: center; 
      align-items: center;
      overflow: hidden;
    }
    img {
      display: block; 
      max-width: 100%;
      max-height: 100%;
    }
  }
  .loading {
    background: #000;
    align-items: center;
    z-index: 3;
  }
  .lds-ellipsis {
    margin-top: 0;
  }
  .lds-ellipsis div {
    background: #FFF;
  }
}
