#page-index {
  & {
    background: #FFF;
  }
  .container {
    position: relative;
    z-index: 0;
  }
  .loading {
    .lds-snipper {
      height: calc(100vh - 380px);
    }
  }
  .works {
    max-width: 1920px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 35px;
    padding: 30px 20px;
    min-height: 100vh; 
  }  
  .figure { 
    a {
      display: block;
      overflow: hidden;
      text-decoration: none;
    }
    .cover {
      display: block;
      width: 100%;
    }
    figcaption {
      margin-top: .5em;
    }
  }
  .top {
    & {
      display: block;
      width: 5em;
      //padding-left: 40px;
      position: fixed;
      top: 20px;
      left: 20px;
      cursor: pointer;
      pointer-events: none;
      opacity: 0;
      transition: .3s;
      text-decoration: underline;
    }
    &._active {
      pointer-events: all;
      opacity: 1;
    }
    &::before {
      content: '';
      display: none;
      width: 23px;
      height: 40px;
      background: url(../images/arrow_tothetop.svg) no-repeat;
      background-size: 100% auto;
      position: absolute;
      left: 0;
    }
  }
  .pagination {
    & {
      display: flex;
      justify-content: center;
      margin-top: 40px;
      @include fs1;
    }
    .pg-numeric {
      & {
        display: flex;
        justify-content: center;
      }
      span {
        display: block;
        flex: 0 0 1.5em;  
        line-height: 1.5;
        display: block;
        margin: .1em;
        text-align: center;
      } 

    }
    a {
      & {
        text-decoration: none;
        font-size: inherit;
      }
      &._active {
        text-decoration: underline;
      }
    }
  }
  
}

@include mq(1366) {
  #page-index {
    .works {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include mq(760) {
  #page-index {
    .top {
      display: none;
    }
    .loading {
      .lds-snipper {
        height: calc(100vh - 150px);
      }
    }
    .space-for-hd {
      padding-top: 20%;
    }
  }
}

@include mq(720) {
  #page-index {
    .works {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
