<template id="about">
<article id="page-about" @scroll="handleScroll" ref="about">
    <comp-header :logo="logo" :scale="scale"></comp-header>
    <comp-nav></comp-nav>
    <div class="intro">
      <p>「如果可以用某種方式追上光，那麼我們將會看到光在空間中靜止的模樣。」——愛因斯坦</p>
      <p>FIXER擅長大量案例與資料搜集、耐心溝通與反覆琢磨，與客戶一起定下攝影的目標：將豐富而抽象的概念轉化為可與大眾溝通的具體影像，用影像精準傳遞出核心價值與品牌理念，也用影像說故事，用影像追逐我們心中的那道光。</p>
    </div>
    <comp-person v-for="person in people" :pdata="person" :key="person.name"></comp-person>
    <comp-footer></comp-footer>
  </article>
</template>

<script>
  module.exports = {
    name: 'about',
    data () {
      return {
        logo: 'images/logo_w.svg',
        scale: 1,
        names: ['李尚謙&nbsp;<br>Eap Lee', '簡子鑫&nbsp;<br>Zih Sin Jian'],
        titles: ['攝影師/中原商設講師&nbsp;<br>Photographer/Lecturer', '攝影師&nbsp;<br>Photographer'],
        sites: [false, 'https://jianzihsin.cargo.site/'], 
        classes: ['_lee', '_jian'],
        people: [],
      }
    },
    components: {
      'comp-person': Person,
    },
    created () {
      this.fetchData(); 
    },
    methods: {
      fetchData () {
        axios.get('https://fixer.com.tw/api/users')
          .then((res) => {
            if (res.status == 200) {
              const data = res.data.data;
              for (let i = 0; i < 2; i++) {
                let con = {};
                con.class = this.classes[i];
                con.name = this.names[i];
                con.title = this.titles[i];
                con.site = this.sites[i];
                con.history = data[i].history;
                this.people.push(con);
              }
            }
          })
          .catch((err) => {});
      },
      handleScroll () {
        const div = 165,
              target = this.$refs.about;
        let scrollTop = target.scrollTop;
        let ratio = scrollTop / div;
        this.scale = (ratio < 1)?1-(0.6*ratio):0.4;
      }
    }
  }
</script>
