<template id="detail"> 
  <article id="page-detail" ref="detail">
    <div class="hd">
      <h1 class="title">{{ title }}</h1>
      <div class="credit">
        <dl v-for="dl in desc">
          <dt>{{ dl.title }}</dt>
          <dd>{{ dl.name }}</dd>
        <dl>
      </div>
      <a @click="back" class="close">Close</a>
    </div>
    <div class="con">
      <comp-loading :class="{_invisible: isFetched}"></comp-loading>
      <div class="masonry" v-masonry="containerId" transition-duration="0s" item-selector=".item" gutter=".gutter-sizer" column-width=".grid-sizer">
        <div class="grid-sizer"></div>
        <div class="gutter-sizer"></div>
        <div class="item" v-masonry-tile v-for="(image, n) in images" v-if="isActive">
          <router-link :to="{path: '/gallery/' + pid, query: {index: (n+1)}}" style="height: auto;">
            <img :src="image[0]" @load="loaded">
          </router-link>
        </div>
      </div>
    </div>
  </article>
</template>

<script>
  module.exports = {
    name: 'detail',
    data () {
      return {
        pid: null,
        containerId: 'blocks',
        isActive: false,
        images: null,
        title: null,
        desc: null,
        items: null,
        isFetched: false,
        itemsNum: 0,
        itemsLoaded: 0,
        scrollTop: null,
        timer: null,
      }
    },
    created () {
     this.fetchData();
    },
    activated () {
      if (this.scrollTop !== null) {
        this.$refs.detail.scrollTo(0, this.scrollTop);
      }
    },
    beforeRouteLeave (to, from, next) {
      this.scrollTop = this.$refs.detail.scrollTop;
      next();
    },
    methods: {
      fetchData () {
        this.pid = this.$route.params.pid;
        axios.get('https://fixer.com.tw/api/posts/' + this.pid)
          .then((res) => {
            if (res.status == 200) {
              const data = res.data.data;
              this.images = data.images;
              this.itemsNum = this.images.length;
              this.title = data.title;
              this.desc = data.description;
              this.isActive = true;
              this.countdownLoadStatus();
            } 
          })
          .catch((err) => {

          });
      },
      loaded () {
        this.itemsLoaded++;
        this.isFetched = (this.itemsLoaded >= this.itemsNum);
        if (this.timer !== null) clearTimeout(this.timer);
      },
      countdownLoadStatus () {
        this.timer = setTimeout(() => {
          this.isFetched = true;
          clearTimeout(this.timer);
        }, 6000);

      },
      back () {
        let query = {};

        if (this.$route.params.hasOwnProperty('cat')) {
          query.cat = this.$route.params.cat;
        } 
        if (this.$route.params.hasOwnProperty('page')) {
          query.page = this.$route.params.page;
        }
        router.push({
          name: 'index',
          query
        });
      } 
    }
  }
</script>
