<template id="entrance"> 
  <article id="page-entrance">
    <div class="float">
      <h1 class="title">
        <span class="tw">定影影像工作室</span>
        <span class="en">FIXER Photographic Studio</span>
        <span class="hide">入口</span>
      </h1>  
      <p class="links">
        <router-link to="/index">點此進入</router-link> 
        <router-link to="/index">View the site</router-link> 
      </p>
    </div>
    <div class="slider" ref="outer">
      <comp-loading :class="{_invisible: isFetched}"></comp-loading>
      <agile :options="options" v-if="isAgile">
        <picture class="slide" v-for="(img, n) in images" :key="n+1" :class="'slide--' + (n+1)" :style="{height: height + 'px'}">
          <source :srcset="img[0]" media="(max-width: 500px)">
          <source :srcset="img[1]" media="(max-width: 1366px)">
          <img :src="img[2]" @load="loaded">
        </picture>
      </agile>
    </div>
    <footer class="ft">
      <div class="marquee" ref="marquee">
        <span :style="{width: dist + 'px', transform: 'translateX(' + translate + 'px)'}">{{ text }}</span><span :style="{width: dist + 'px', transform: 'translateX(' + translate + 'px)'}">{{ text }}</span>
      </div>
    </footer>
    </article> 
</template>

<script>
  module.exports = {
    name: 'entrance',
    data () {
      return {
        images: null,
        isAgile: false,
        height: null, 
        isFetched: false,
        itemsNum: 0,
        itemsLoaded: 0,
        text: '商品X人像X品牌形象X空間X活動',
        dist: 206,
        translate: 0,
        timer: null,
        options: {
          fade: true,
          dots: false,
          navButtons: false,
          autoplay: true,
          autoplaySpeed: 3000,
          speed: 800,
          timing: 'ease-out',
          pauseOnHover: false,
        }
      }
    },
    created () {
      this.fetchData();

    },
    mounted () {
      this.countText();
      this.height = this.$refs.outer.scrollHeight;
    },
    components: {
      agile: VueAgile,
    },
    methods: {
      fetchData () {
        axios.get('https://fixer.com.tw/api/backgrounds')
          .then((res) => {
            if (res.status == 200) {
              this.images = res.data.data;
              this.itemsNum = this.images.length;
              this.isAgile = true;
              this.countdownLoadStatus();
            } 
          })
          .catch((err) => {

          });
      },
      countText () {
        const width = this.$refs.outer.clientWidth, 
              count = Math.ceil(width/15/this.text.length),
              text = this.text;
        for (let i = 0; i < count; i++) {
          this.text += text;
          this.dist += 206;
        };
        this.marquee();
      },
      loaded () {
        this.itemsLoaded++;
        this.isFetched = ((this.itemsLoaded/3) >= this.itemsNum);
        if (this.timer !== null) clearTimeout(this.timer);
      },
      countdownLoadStatus () {
        this.timer = setTimeout(() => {
          this.isFetched = true;
          clearTimeout(this.timer);
        }, 6000);
      },
      marquee () {
        /* 
        setInterval(() => {
          if (this.translate !== this.dist * -1) {
            this.translate -= 1;
          }else{
            this.translate = 0;
          }
        }, 1000/80); 
        */
        window.requestAnimationFrame(this.move);
      },
      move (timestamp) {
        if (this.translate !== this.dist * -1) {
          this.translate -= 1;
        }else{
          this.translate = 0;
        }
        window.requestAnimationFrame(this.move);
      }
    }
  }
</script>
