<template id="footer">
  <footer class="common-footer">
    <address class="contact">
      <dl class="person">
        <dt>聯絡人</dt>
        <dd>
          <strong>李尚謙</strong><br>
          <a href="mailto:eaplee@gmail.com">eaplee@gmail.com</a><br>
          <a href="tel:+886-919369198">(+886)919369198</a><br>
          <a href="https://goo.gl/maps/z36PpKzjBemmPMTq9" target="_blank">台北市重慶北路二段80巷14號1樓</a>
        </dd>
      </dl>
      <dl class="person">
        <dt>聯絡人</dt>
        <dd>
          <strong>簡子鑫</strong><br>
          <a href="mailto:jianzihsin@gmail.com">jianzihsin@gmail.com</a><br>
          <a href="tel:+886-935891021">(+886)935891021</a><br>
        </dd>
      </dl>
    </address>
    <div class="info">
      <p class="sns">
        <a href="https://www.instagram.com/fixer_photographic_studio/" target="_blank">Instagram</a><br>
        <a href="https://facebook.com/FixerStudio/" target="_blank">Facebook</a>
      </p> 
      <div class="developer">
        <p>Website Designed by <a href="" role="author">Jiin</a><p>
        <p>Website Developed by <a href="" role="author">G2</a></p>
      </div>
      <p class="copyright">&copy; FIXER Photographic Studio 2019</p>
    </div>
    </footer>
</template>
