<template id="gallery">
  <div id="page-gallery">
    <router-link :to="'/detail/' + pid" class="close">Close</router-link>
    <div class="container">
      <comp-loading :class="{_invisible: isFetched}"></comp-loading>
      <button class="prev" v-if="!isTouchDevice" type="button" @click="prev"></button>
      <button class="next" v-if="!isTouchDevice" type="button" @click="next"></button>
      <agile :options="options" ref="carousel" v-if="isAgile">
        <picture class="slide" v-for="(img, n) in images" :key="n+1" :class="'slide--' + (n+1)" :style="{height: height + 'px'}">
          <source :srcset="img[0]" media="(max-width: 750px)">
          <source :srcset="img[1]" media="(max-width: 1366px)">
          <img :src="img[2]" @load="loaded">
        </picture>
      </agile>
    </div>
  </div>
</template>

<script>
  module.exports = {
    name: 'gallery',
    data () {
      var self = this;
      return {
        pid: null,
        images: null,
        isAgile: false,
        height: window.innerHeight,
        isFetched: false,
        itemsNum: 0,
        itemsLoaded: 0,
        isTouchDevice: 'ontouchstart' in window,
        timer: null,
        options: {
          fade: true, 
          dots: false,
          navButtons: false,
          initialSlide: (self.$route.query.index - 1),
        }
      }
    },
    created () {
      this.fetchData();
    },
    watch: {
      '$route': 'fetchData',
    },
    components: {
      agile: VueAgile,
    },
    methods: {
      fetchData () {
        this.pid = this.$route.params.pid;
        axios.get('https://fixer.com.tw/api/posts/' + this.pid)
          .then((res) => {
            if (res.status == 200) {
              const data = res.data.data;
              this.images = data.images;
              this.itemsNum = this.images.length;
              this.isAgile = true;
              this.countdownLoadStatus();
            } 
          })
          .catch((err) => {

          });
      },
      loaded () {
        this.itemsLoaded++;
        this.isFetched = ((this.itemsLoaded/3) >= this.itemsNum);
        if (this.timer !== null) clearTimeout(this.timer);
      },
      countdownLoadStatus () {
        this.timer = setTimeout(() => {
          this.isFetched = true;
          clearTimeout(this.timer);
        }, 6000);

      },
      next () {
        this.$refs.carousel.goToNext();        
      },
      prev () {
        this.$refs.carousel.goToPrev();        
      }
    }
  }
</script>
