  <template id="header">
    <div class="common-header">
      <header class="main-header" :style="{width: width + 'px'}">
        <h1 class="logo" :style="{'flex': '0 1 ' + 940*scale + 'px'}" ><img :src="logo" alt="FIXER"></h1>     
        <p class="txt">Photographic Studio</p>
        <div class="space-for-top"></div>
      </header>
      <div class="space-for-hd" ref="space"></div>
    </div>
  </template>

<script>
  module.exports = {
    data () {
      return {
        width: null,
      }
    },
    props: ['logo', 'scale'],
    mounted () {
      this.setWidth();
      window.addEventListener('resize', this.setWidth);
    },
    methods: {
      setWidth () {
        this.width = this.$refs.space.clientWidth;
      },
    }
  } 
</script>
