<template id="index"> 
  <article id="page-index" @scroll="handleScroll" ref="index">
    <comp-header :logo="logo" :scale="scale"></comp-header>
    <comp-nav></comp-nav>
    <div class="container">
      <comp-loading :class="{_invisible: isFetched}"></comp-loading>
      <div class="works">
        <figure class="figure" v-for="post in posts">
          <router-link :to="{ name: 'detail', params: {pid: post.id , cat: cat, page: page}}">
            <img class="cover" :src="post.cover" @load="loaded">
            <figcaption>{{ post.title }}</figcaption> 
          </router-link>
        </figure> 
      </div>
      <comp-pagination v-if="isFetched" :cur="page" :total="totalp" :route="$route" :refs="$refs"></comp-pagination>
      <a @click="toTop" class="top" :class="{_active: topDisplay}">To The Top</a>
    </div>
    <comp-footer></comp-footer>
  </article>
</template>

<script>
  module.exports = {
    name: 'index',
    data () {
      return {
        logo: 'images/logo_b.svg',
        loading: true,
        narrow: false,
        scale: 1,
        posts: null,
        totalp: 1, 
        hdwidth: false,
        isFetched: false,
        itemsNum: 0,
        itemsLoaded: 0,
        isOpen: false,
        cat: 0,
        page: 1,
        scrollTop: null,
        topDisplay: false,
        timer: null,
      }
    },
    created () {
      this.fetchData();
    },
    activated () {
      if (this.scrollTop !== null) {
        this.$refs.index.scrollTo(0, this.scrollTop);
      }
    },
    beforeRouteLeave (to, from, next) {
      this.scrollTop = this.$refs.index.scrollTop;
      next();
    },
    beforeRouteUpdate (to, from, next) {
      this.posts = [];
      this.isFetched = false;
      this.itemsLoaded = 0;
      if (this.timer !== null) clearTimeout(this.timer);
      next();
      this.fetchData();
    },
    methods: {
      fetchData () {
        this.cat = (typeof this.$route.query.cat == 'undefined')?this.cat:this.$route.query.cat;
        this.page = (typeof this.$route.query.page == 'undefined')?this.page:this.$route.query.page;
        axios.get('https://fixer.com.tw/api/posts', {params: {
            cat: this.cat,
            page: this.page,
          }})
          .then((res) => {
            if (res.status == 200) {
              const data = res.data.data;
              if (data.list.length !== 0) {
                this.$refs.index.scrollTo(0, 0);
                this.posts = data.list;
                this.itemsNum = data.list.length;
                this.page = data.pagination.current_page;
                this.totalp = data.pagination.total_pages;
                this.countdownLoadStatus();
              }else{
                this.$router.push('/index');
              }
            }
          })
          .catch((err) => {

          });
      },
      handleScroll (evt) {
        const div = 165,
              target = this.$refs.index;
        let scrollTop = target.scrollTop;
        let ratio = scrollTop / div;
        this.scale = (ratio < 1)?1-(0.6*ratio):0.4;
        this.topDisplay = (scrollTop >= div);
      },
      setHdWidth () {
        this.hdwidth = this.$refs.index.scrollWidth;
      },
      loaded () {
        this.itemsLoaded++;
        this.isFetched = (this.itemsLoaded >= (this.itemsNum * 0.8));
        if (this.timer !== null) clearTimeout(this.timer);
      },
      countdownLoadStatus () {
        this.timer = setTimeout(() => {
          this.isFetched = true;
          clearTimeout(this.timer);
        }, 6000);
      },
      toTop () {
        this.$refs.index.scrollTo(0, 0);
      },      
    }
  }
</script>
