<template>
  <div class="loading">
    <div class="lds-snipper">
      <div class="lds-icon">
        <img src="./images/loading-page.gif">
      </div>
    </div>
    <!--
    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    -->
  </div>
</template>
