<template id="nav">
  <div class="common-nav">
    <button class="burger" @click="open"><i></i><i></i><i></i></button>
    <nav class="menu" :class="{_active: isOpen}">
      <router-link :class="{'router-link-exact-active': ($route.name=='index' && Object.keys($route.query).length == 0)}" @click.native="close" :to="{name: 'index', query: {cat: 0, page: 1}}">All</router-link>
      <router-link @click.native="close" class="about" to="/about">About</router-link>
      <router-link @click.native="close" :to="{name:'index', query: {cat: 1, page: 1}}">Products</router-link>
      <router-link @click.native="close" :to="{name:'index', query: {cat: 2, page: 1}}">Portrait</router-link>
      <router-link @click.native="close" :to="{name:'index', query: {cat: 3, page: 1}}">Branding</router-link>
      <router-link @click.native="close" :to="{name:'index', query: {cat: 4, page: 1}}">Space</router-link>
      <router-link @click.native="close" :to="{name:'index', query: {cat: 5, page: 1}}">Event</router-link>
      <button class="close" @click="close">Close</button>
    </nav>
    <div class="mask" @click="isOpen=false" v-show="isOpen"></div>
  </div>
</template>

<script>
  module.exports = {
    data () {
      return {
        isOpen: false,
      } 
    },
    methods: {
      open () {
        this.isOpen = true;
      },
      close () {
        this.isOpen = false;
      }
    }
  } 
</script>
