<template>
  <div class="pagination" v-if="display">
    <div class="pg-numeric">
      <span :class="'page-' + num.type" v-for="num in numPages"  @click="backTop">
        <router-link :to="{name: 'index', query: {page: num.display, cat: route.query.cat}}" :class="{_active: (num.display == cur)}" >{{ num.display }}</router-link>
      </span>
    </div>
  </div>
</template>

<script>
  module.exports = {
    data () {
      return {
        numPages: [],
        display: false, 
      }
    },
    props: {
      cur: {
        type: Number,
        default: 1,
      },
      total: {
        type: Number,
      },
      route: {
        type: Object,
        required: true,
      },
      refs: {
        type: Object,
      },
    },
    created () {
      this.render();
    },
    methods: {
      render () {
        let showItems = (this.total < 5)?this.total:5,
            start;
        this.display = (this.total > 1 && this.cur >= 1 && this.cur <= this.total);
        this.numPages = [];
        if ((this.cur - 2) <= 1) {
          start = 1;
        }else if ((this.cur + 2) >= this.total) {
          start = this.total - (showItems - 1);
        }else {
          start = this.cur - 2;
        }
        for (let i = start; i < (start + showItems); i++) {
          this.numPages.push({display: i, type: 'number'});
        }

        if (this.total > showItems) {
          if ((this.cur - 2) <= 1) {
            this.numPages.push({display: '...', type: 'ellipsis'}); 
            this.numPages.push({display: this.total, type: 'number'});
          } else if ((this.cur + 2) >= this.total){
            this.numPages.unshift({display: '...', type: 'ellipsis'}); 
            this.numPages.unshift({display: 1, type: 'number'});
          } else {
            this.numPages.push({display: '...', type: 'ellipsis'}); 
            this.numPages.push({display: this.total, type: 'number'});
            this.numPages.unshift({display: '...', type: 'ellipsis'}); 
            this.numPages.unshift({display: 1, type: 'number'});
          }
        }
      },
      backTop () {
        this.refs.index.scrollTo(0, 0);
      }
    }
  }
</script>
