<template>
  <div class="artist" :class="pdata.class">
    <div class="hd">
      <h2 class="name" v-html="pdata.name"></h2> 
      <p class="jtitle" v-html="pdata.title"></p>
      <a @click="toggleFolder" class="btn" :class="(isOpen)?'more':'less'">
        <span class="display" v-html="btnText"></span>
      </a>
    </div> 
    <div class="folder" :style="{maxHeight: maxHeight + 'px'}">
      <div class="wrap" ref="wrap">
        <div class="innertitle" v-html="pdata.title"></div>
        <div class="site" v-if="pdata.site"><a :href="pdata.site" target="_blank">{{ pdata.site }}</a></div>
        <div class="exp" v-for="(item, n) in pdata.history" :key="n">
          <h4 v-html="item.title"></h4>
          <div class="history">
            <dl v-for="con in item.content" class="record">
              <dt>{{ con[0] }}</dt>
              <dd>{{ con[1] }}</dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  module.exports = {
    name: 'person',
    data () {
      return {
        isOpen: false,
        btnText: 'More&nbsp;<br>Infos',
        maxHeight: 0,
        height: 0,
      }
    },
    props: {
      pdata: {
        type: Object,
      }    
    },
    mounted () {
      this.height = this.$refs.wrap.scrollHeight;
      /*
      this.$refs.history.forEach(($ref) => {
        this.height += $ref.scrollHeight;
      }); 
      this.height += this.$refs.injtitle.scrollHeight;
      this.height += this.$refs.site.scrollHeight;
      */
    },
    methods: {
      toggleFolder () {
        this.isOpen = !this.isOpen;
        this.btnText = (this.isOpen)?'Less&nbsp;<br>Infos':'More&nbsp;<br>Infos';
        this.maxHeight = (this.isOpen)?this.height:0;
      }
    }
  }
</script>
